################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/7DaysOfCode.Pokemon.API/bin/Debug/net6.0
/src/7DaysOfCode.Pokemon.API/obj
